/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

/* main-container holds all users */
.user-container {
}

/* indiv profile container */
.user-profile {
  width: 90%;
  /* height: 250px; */
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
}

.top {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.username {
  font-weight: 700;
  font-size: 1.5rem;
}

.top-middle {
  /* border: 1px solid green; */
  text-align: center;
}

.company {
  display: flex;
  flex-direction: column;
}

.company > span {
  margin: 0.5em 0;
}

.bottom-middle {
  text-align: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-details span {
  margin: 0.5em 0;
}

.profile-footer {
  /* border: 1px solid yellow; */
  text-align: center;
}
