/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

/* main-container holds all users */
.user-container {
}

/* indiv profile container */
.user-profile {
  /* width: 90%; */
  height: 200px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
}

.top {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  

.top-middle {
  border: 1px solid green;
}

.bottom-middle {
  border: 1px solid purple;
}

.profile-footer {
  border: 1px solid yellow;
}
