/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

h2{
  padding: 1em;
}

/* main-container holds all users */
.user-container {
  max-width: 800px;
  min-width: 300px;
}

/* indiv profile container */
.user-profile {
  width: 95%;
  max-width: 800px;
  min-width: 300px;
  height: 454px;
  border: 1px solid #14213d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e5e5;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: #fca311;
  
  
}

.username {
  font-weight: 700;
  font-size: 1.5rem;
}

.top-middle {
  /* border: 1px solid green; */
  text-align: center;
  background-color: #14213d;
  color: #fca311;
  
  
}

.company {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  color: #14213d;
  
}

.company > span {
  margin: 0.5em 0;
}

.bottom-middle {
  text-align: center;
  background-color: #14213d;
  color: #fca311;
}

.contact-details {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  color: #14213d;
}

.contact-details span {
  margin: 0.5em 0;
}

.profile-footer {
  /* border: 1px solid yellow; */
  text-align: center;
  
  background-color: #14213d;
  color: #fca311;
}

.user-address{
  background-color: #e5e5e5;
  color: #14213d;
  padding: .5em;
}